.SearchAndFilter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;

    & > div {
        margin: 1rem 0;
    }
}