.NavWrapper {
    display: flex;
    justify-content: space-between;
    padding:10px 10px 0 10px;

    height: 54px;
    
    h1 {
        font-size: 16px;
        padding: 0;
        margin: 0;
    }

    .ToggleMode {
        font-size: 14px;
    }
}
