.Menu {
    position: absolute;
    z-index: -1;
    opacity: 0;
    box-sizing: content-box;
    margin: 1rem 0;
    width: 100%;
    transform: translateY(-40%);
    
    padding: 1rem;
    transition-property: all;
    transition-duration: 1s;
    
    &.Open {
      z-index: 10;
      transform: translateY(0);
      opacity: 1;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.Button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding: 1rem;
}

.DropDownWrapper{
    width: 40%;
}

.Icon {
    transition: transform 0.5s ease-out;
}
